@page "{scenarioID}"
@model Daewoong.BI.PreviousGeneralCommentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>대웅제약 BI</title>

    <link href="~/app/css/core0220.css" rel="stylesheet" />
    <link href="~/app/dw/css/style.css" rel="stylesheet" />
    <link href="~/app/dw/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/app/dw/css/iCheck/custom.css" rel="stylesheet" />
    <link href="~/app/dw/css/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <style>
        .content {
            margin: 0;
        }

        textarea {
            width: 100%;
            min-height: 120px;
            padding: 5px;
            margin-top: 10px;
        }

        .btn {
            min-height: 40px;
            min-width: 40px;
        }

        .filelabel {
            width: auto;
            padding: 10px 12px;
            border: 0px;
            z-index: 1;
        }

        .file_form {
            margin-top: 15px;
        }

        .buttonDiv {
            margin-top: 15px;
            text-align: center;
        }

            .buttonDiv > button {
                min-width: 85px;
            }

        .file {
            width: auto;
            display: inline-block;
            cursor: pointer;
            margin-bottom: 5px;
            margin-left: 12px;
            margin-right: -5px;
            height: 40px;
        }
    </style>

    <script src="~/app/script/jquery.js"></script>
    <script src="~/app/dw/js/bootstrap.js"></script>
    <script src="~/app/dw/js/iCheck/icheck.min.js"></script>
    <script src="~/app/dw/js/jquery-ui/jquery-ui.min.js"></script>

    <script type="text/javascript">
		$(document).ready(function () {
            $("#divAnalysis").html($("#txtAnalysis").text());
		});

		function closeWindow() {
            window.close();
		}
    </script>
</head>
<body>
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h4>@Model.businessCaption > 총평/지시사항</h4>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" id="form" enctype="multipart/form-data">
                            <h5 style="color:#ef2565" id="modified_date"><b>마지막 수정일 : @Model.analysisUpdateDate</b></h5>

                            <div id="divAnalysis"></div>

                            <textarea id="txtAnalysis" style="display:none">
							    @Model.analysisObj.Txt
						    </textarea>

                            <div class="file_form">
                                @if (Model.businessFiles != null && Model.businessFiles.Count > 0)
                                {
                                    foreach (var businessFile in Model.businessFiles)
                                    {
                                        <i class="glyphicon glyphicon-download"></i><a href="@businessFile.FileURL" target="_blank"> @businessFile.FileName</a>
                                    }
                                }
                            </div>

                            <div class="buttonDiv">
                                <button type="button" class="btn btn-w-m btn-primary" onclick="closeWindow();">창닫기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>